<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
</head>
<body>
    <h1>welcome to my app</h1>
    <P> <input type="text" id="username" placeholder="username"></P>
    <P><input type="password" id="password" placeholder="password"></P>
    <P> <input type="submit" value="enter"></P>
    <div class="content-area" >
        {% block content %}
        {%  endblock %}
    </div>
</body>
</html>
